---
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found">
  <section class="ph-spacing pb-24 xl:pb-40 text-center">
    <div class="relative">
      <div class="container">
        <div class="flex flex-col items-center lg:col-8 mx-auto mt-8">
          <p
            data-aos="fade-up-sm"
            data-aos-delay="200"
            class="mb-20 text-text-dark font-medium"
          >
            ERROR
          </p>
          <div data-aos="fade-up-sm" data-aos-delay="100" class="mb-9">
            <svg
              width="368"
              height="159"
              viewBox="0 0 368 159"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M312.269 125.4H230.869V94.6L283.669 2.20001H327.669L274.869 94.6H312.269V61.6H351.869V94.6H367.269V125.4H351.869V156.2H312.269V125.4Z"
                fill="#6B21F3"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M193.686 30.8C202.486 30.8 206.886 35.2 206.886 44V114.4C206.886 123.2 202.486 127.6 193.686 127.6H169.486C160.686 127.6 156.286 123.2 156.286 114.4V44C156.286 35.2 160.686 30.8 169.486 30.8H193.686ZM235.926 148.06C242.966 141.02 246.486 129.8 246.486 114.4V71.8335L232.869 95.6623V125.4H224.869V94.6V93.5378L225.396 92.6155L246.486 55.709V44C246.486 28.6 242.966 17.4533 235.926 10.56C229.032 3.52 217.886 0 202.486 0H160.686C145.286 0 134.066 3.52 127.026 10.56C120.132 17.4533 116.686 28.6 116.686 44V114.4C116.686 129.8 120.132 141.02 127.026 148.06C134.066 154.953 145.286 158.4 160.686 158.4H202.486C217.886 158.4 229.032 154.953 235.926 148.06Z"
                fill="#6B21F3"></path>
              <path
                d="M108.686 114.4C108.686 130.563 112.228 144.15 121 153.337V156.2H81.4V125.4H0V94.6L52.8 2.20001H96.8L44 94.6H81.4V61.6H108.686V114.4Z"
                fill="#6B21F3"></path>
            </svg>
          </div>

          <h1
            class="text-h5 md:text-h3-sm mb-16"
            data-aos="fade-up-sm"
            data-aos-delay="150"
          >
            Page Not Found
          </h1>

          <a
            data-aos="fade-up-sm"
            data-aos-delay="200"
            aria-label="Go back to Home"
            href="/"
            class="btn btn-outline-primary"
          >
            Go back to Home
          </a>
        </div>
      </div>
    </div>
  </section>
</Base>
